@defer(when countriesService.country()?.cca2 === countryId){
    <h1 class="px-2 pb-2 text-slate-900 text-xl font-bold">Country: {{countriesService.country()?.name?.common}}</h1>
    <hr>
    <div class="flex flex-col justify-center md:flex-row space-y-2 md:space-x-3 mb-2 p-2">
        <div class="self-center">
            <h1 class="px-2 pb-2 text-slate-900 text-xl font-bold">Flag</h1>
            <img [srcset]="countriesService.country()?.flags?.png" [alt]="countriesService.country()?.name?.common" class="w-64 border border-gray-200 p-1 rounded self-center"/>
        </div>
        <div class="flex-1">
            <h1 class="pb-2 text-slate-900 text-xl font-bold">Information</h1>
            <ul class="text-slate-900 font-bold border border-gray-200 rounded divide-y divide-gray-200">
                <li class="p-2">Population: <span class="font-normal">{{countriesService.country()?.population | number}}</span></li>
                <li class="p-2">Code: <span class="font-normal">{{countriesService.country()?.cca2}}</span></li>
            </ul>
        </div>
    </div>
    <h1 class="px-2 pb-2 text-slate-900 text-xl font-bold">Translations</h1>
    <div class="flex flex-wrap p-2 gap-2">
        @for( language of getTranslationList(); track language){
            <p class="bg-blue-600 text-white rounded-lg p-1 text-xs font-semibold">{{language}}</p>
        }
    </div>


}@placeholder {
    <div class="bg-blue-100 border-blue-500 text-blue-700 rounded-b  px-4 py-3 mt-10 animate-pulse" role="alert">
        <div class="flex">
          <div class="py-1"><svg class="fill-current h-6 w-6 text-blue-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
          <div>
            <p>Loading content....</p>
          </div>
        </div>
    </div>
}

